# ================================
# General
# ================================
.env
.env.local
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# ================================
# Node & React
# ================================
Client/**/node_modules/
Client/**/dist/
Client/**/.vite/
Client/**/.parcel-cache/
Client/**/.next/
Client/**/coverage/

# ================================
# .NET build output
# ================================
Server/**/bin/
Server/**/obj/
Server/**/out/
Server/**/publish/
Server/**/logs/

# ================================
# Docker / Compose
# ================================
*.pid
*.tar
*.log
docker-data/
mssql-data/

# ================================
# Visual Studio / VSCode
# ================================
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# ================================
# OS & Misc
# ================================
*.swp
*.swo
*.orig
*.bak
*.tmp
data/nifi_registry/database/*.mv.db
data/nifi_registry/database/
nifi_data/conf/nifi.properties
Server/AuthService/firebase-adminsdk.json
Server/NotificationService/src/main/resources/firebase/serviceAccountKey.json

influx_data/
node_modules
Client/sdcrms-web/admin-cli/serviceAccountKey.json
Server/UserService/FireBase
Server/OwnerService/FireBase
Server/NotificationService/FireBase
Server/Gateway/FireBase
Server/BookingService/FireBase
Server/CustomerService/FireBase
Server/AuthService/FireBase
Server/AdminService/FireBase
Server/OwnerCarService/FireBase

