# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/

# Others
*.log
*.tmp
*.config

# Client/UML
Client/UML

# Firebase credentials
D:\Trifuu\Project\Server\NotificationService\FireBase
Server/NotificationService/FireBase/*.json
