# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/

# Others
*.log
*.tmp
*.config

# Client/UML
Client/UML

# Firebase credentials
Server/NotificationService/FireBase
Server/FireBase


bfg-1.15.0.jar
Server/NotificationService/FireBase
Server/AdminService/FireBase
Client/sdcrms-web/admin-cli
Server/NotificationService/FireBase/.firebase/hosting.cHVibGlj.cache
